<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script src={{ "/assets/js/jquery-3.3.1.slim.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/popper.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/bootstrap.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/custom.js" | relative_url }}></script>
  </body>
</html>
