---
layout: default
---

<div class="container">
  {%- if page.title -%}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="pt-2 pb-4">{{ page.title}}</h1>
    </div>
  </div>
  {%- endif -%}
  
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="row mb-3">
      <div class="col-sm-12 col-md-12">
        <h2>{{ page.list_title | default: "Posts" }}</h2>
      </div>
    </div>
    
    <ul class="post-list pl-0">
      {%- for post in paginator.posts -%}
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12">
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <p class="post-meta">{{ post.date | date: date_format }}</p>
            {%- if site.show_excerpts -%}
              <p>{{ post.excerpt }}</p>
            {%- endif -%}
          </li>
        </div>
      </div>
      {%- endfor -%}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ site.baseurl + paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  {%- endif -%}
</div>
